*{
	padding: 0px;
    margin: 0px;
}
:root{
    --primary-color: white;
    --secondary-color: black;
}
.dark-theme{
    --primary-color: black;
    --secondary-color: white;
}
#main{
    background-color: var(--primary-color);
}
#icon{
    width: 30px;
    cursor: pointer;
    margin: 4px;
}
.cname{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
.cname a{
    color: rgb(52, 52, 163);
    font-size: 30px;
    text-decoration: none !important;
    text-transform: capitalize;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}


#card{
    height: 350px;
    width: 380px;
    padding: 20px 35px;
    background-color: var(--primary-color);
    border-radius: 10px;
    margin: 0px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 0px solid var(--secondary-color) !important;
}
#card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: var(--secondary-color);
}
h1{
    color: var(--secondary-color);
}
h5{
    color: var(--secondary-color);
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.col-lg-4{
    text-align: center;
}
label{
    color: var(--secondary-color);
}
#floatingTextarea2{
    background: var(--primary-color);
}
#exampleInputEmail1{
    background: var(--primary-color);
}
#validationCustom02{
    background: var(--primary-color);
}
#validationCustom01{
    background: var(--primary-color);
}
#validationCustom01{
    color: var(--secondary-color);
}
#validationCustom02{
    color: var(--secondary-color);
}
#exampleInputEmail1{
    color: var(--secondary-color);
}
#floatingTextarea2{
    color: var(--secondary-color);
}
span{
    position: absolute;
    font-size: 14px;
    color: red;
}
span i{
    color: seagreen;
}
#demo{
    color: var(--secondary-color);
}
#box{
    background-color: rgb(52, 52, 163);
    font-family: 'Roboto', sans-serif;
}
#box .signup-box{
    width: 340px;
    height: 550px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    border-radius: 3px;
}
#box h1{
    text-align: center;
    padding-top: 15px;
    margin: 10px;
    color: rgb(52, 52, 163);
}
#box form{
    width: 300px;
    margin-left: 20px;
}
#box form label{
    text-align: center;
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
#box form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
#box button{
    margin-top: 20px;
    margin-left: 110px;
}
#box p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
#box .para-2{
    text-align: center;
    color: white;
    margin-top: -10px;
    font-size: 15px;
}
#box .para-2 a{
    color: cyan;
}
#box .login-box{
    width: 340px;
    height: 320px;
    margin: auto;
    margin-top: 150px;
    background-color: white;
    border-radius: 3px;
}